/* 去除默认样式 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    /* height: 100%; */
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,微软雅黑,tahoma,simsun,宋体;
    background-color: #f6f6f6;
}
.container{
    width: 100%;
    height: 100%;
}
.center{
    width:1090px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
/*清除浮动*/
.clearfix::after {
    content: "";
    display: block;
    /* height: 0; */
    clear: both;
    visibility: hidden;
  }
  .clearfix {
    /* IE6、7 专有 */
    *zoom: 1;
  }
  



