@font-face {
  font-family: "iconfont"; /* Project id 3546027 */
  src: url('iconfont.woff2?t=1659356604012') format('woff2'),
       url('iconfont.woff?t=1659356604012') format('woff'),
       url('iconfont.ttf?t=1659356604012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhaofill:before {
  content: "\e72c";
}

.icon-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.icon-lianxikefu:before {
  content: "\e638";
}

.icon-zhishiku:before {
  content: "\e790";
}

.icon-24gl-arrowUp2:before {
  content: "\eb6b";
}

.icon-qiandao:before {
  content: "\e641";
}

.icon-shuaxin:before {
  content: "\e80b";
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-fenlei:before {
  content: "\e611";
}

.icon-nvbao:before {
  content: "\e600";
}

.icon-shoubiao:before {
  content: "\e601";
}

.icon-gouwuchekong:before {
  content: "\e602";
}

.icon-31sousuo:before {
  content: "\e603";
}

.icon-yingyangpinbaojianpin:before {
  content: "\e63d";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-yundonghuwaileimu:before {
  content: "\e6ea";
}

.icon-shumajiadianleimu:before {
  content: "\e6f1";
}

.icon-shafa:before {
  content: "\e621";
}

.icon-zhengpinbaozheng:before {
  content: "\e6f4";
}

.icon-quanqiu:before {
  content: "\e663";
}

.icon-hanbao:before {
  content: "\e616";
}

.icon-muyulou:before {
  content: "\e62b";
}

.icon-xiedaichongwu:before {
  content: "\e90d";
}

.icon-yingerche:before {
  content: "\e61f";
}

.icon-meizhuang-meizhuangshua:before {
  content: "\e664";
}

.icon-fushileiicon_huaban:before {
  content: "\e604";
}

.icon-ziyingyewu:before {
  content: "\e7cb";
}

.icon-shouhouwuyou:before {
  content: "\e609";
}

.icon-xialakuanganniu:before {
  content: "\e613";
}

